/* #menu {
    background-image: url('images/viraj_logo-removebg-preview 1.png'); 
    background-size: cover; 
    background-position: center; 
    height: 200px;
} */
.font{
    font-family: "Playfair Display", serif;
}
.text-font{
    font-family: "Inter", sans-serif;
}

